<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <style>
    body,html{
      margin:0;
      padding:0;
      background-color:white;
      overflow-x:hidden;
      
    }
    .containerfluid {
      font-family: 'Bitter', serif;
      padding:2%;
      
       }
 



.productcard {

  padding:2%;
  margin-top:4%;
  text-align:center;
  border-radius:4px;
  box-shadow:0 0 6px  gray;

}

.productImg {
  width:80%;
  height:250px;

}

#user {
  text-shadow:2px 2px 2px solid black;
  border-radius:3px;
  box-shadow:0px 0px 5px gray;
  text-align:center;
  padding:5%;
  background-color:#A2AB58;
  color:white;
}

#cartdetails {

    text-shadow:2px 2px 2px solid black;
  border-radius:3px;
  box-shadow:0px 0px 5px gray;
  text-align:center;
  padding:5%;
  background-color:#A2AB58;
  color:white;
  margin-top:5%;

}

.productcard {
  display:none;

}

  </style>
</head>
<body>

         
  <div class='containerfluid'>


     <h3 style='text-align:center;color:white;text-shadow:2px 2px 2px black'>edCart</h3>

      <div class='row'>

       <div class='col-md-3'>
       <div id='user'>
        <h6 style='text-align:center;color:crimson;text-shadow:1px 1px 1px black;'>arun</h6>
        <h6 style='text-align:center;color:crimson;text-shadow:1px 1px 1px black;'>coolarun477@gmail.com</h6>
      <a href='/profile'> <h6 class='btn btn-success btn-sm cool' style='text-align:center;color:white;text-shadow:1px 1px 1px black;text-align:left;cursor:pointer;'>Home</h6></a>
       <h6 class='btn btn-success btn-sm cool' style='text-align:center;color:white;text-shadow:1px 1px 1px black;text-align:left;cursor:pointer;'>products</h6>

          <a id='logout' style='text-align:right;color:blue;' href=''>logout</a>
      </div>
      
       <div id='cartdetails'>
          
          
       </div>
        

         
       </div>

       <div class='col-md-9'>

         <div class='row' id='parentCard'>
           


           
           
         </div>
       </div>

     </div>



    </div>


<!-- jquery and bootstrap scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- local script -->
<script src='/scripts/cart.js'></script>
</body>
</html>