<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <style>
    body,html{
      margin:0;
      padding:0;
      background-color:white;
      text-align:center;
      
    }
    .container {
      font-family: 'Bitter', serif;
      margin-top:2%;
      padding:5%;
      background-color:white;
      margin-bottom:0;
      
       }
    .well {
      
        
        width:100%;
        background-color:;
        padding:15%;
        border-radius:6px;
        box-shadow:0px 0px 7px gray;


    }

    #loginbutton {
      margin:4%;
      padding:5%;
 
    } 

    #signupbutton {
      margin:4%;
      padding:5%;
      margin-left:3%;
    } 



    
 

  </style>
</head>
<body>

         
  <div class='container'>
     <h1 style='text-align:center;color:white;text-shadow:2px 2px 2px black'>Welcome to <span style='color:crimson'>edCart</span></h1>

        
     <div class=' row well well-lg'>
      <div class='buttons col-md-6'><a style='text-decoration:none' href='/login'><button id='loginbutton' class='btn btn-primary btn-block'>Login</button></a></div>
      <div class='buttons col-md-6'><a style='text-decoration:none' href='/signup'><button id='signupbutton' class='btn btn-primary btn-block'>signUp</button></a></div>
       
       
     </div>
     
     

  </div>



</body>
</html>